language: generic
os: linux
dist: xenial

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-8', 'qt5-default']
      env:
        - CXX=g++-8
        - CONFIG=Debug

    - compiler: gcc
          addons:
            apt:
              sources: ['ubuntu-toolchain-r-test']
              packages: ['g++-8', 'qt5-default']
          env:
            - CXX=g++-8
            - CONFIG=Release

    - compiler: clang
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-xenial-8']
          packages: ['clang-8', 'g++-8', 'qt5-default']
      env:
        - CXX=clang++-8
        - CONFIG=Debug

    - compiler: clang
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-xenial-8']
          packages: ['clang-8', 'g++-8', 'qt5-default']
      env:
        - CXX=clang++-8
        - CONFIG=Release

    - os: osx
      osx_image: xcode10.3
      compiler: clang
      env:
        - CXX=clang++
        - CONFIG=Debug

    - os: osx
      osx_image: xcode10.3
      compiler: clang
      env:
        - CXX=clang++
        - CONFIG=Release

before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew update;
      brew outdated cmake || brew upgrade cmake;
      brew install qt5;
      export CMAKE_PREFIX_PATH=$(brew --prefix qt5);
      echo CMAKE_PREFIX_PATH - $CMAKE_PREFIX_PATH
    fi

before_script:
  - $CXX --version
  - echo CONFIG - $CONFIG
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=$CONFIG

script:
  - cmake --build . --config $CONFIG
  - bin/CppGoogleTestStarter
